html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
}

footer, nav {
    margin: 0 auto;
    max-width:102.4rem;
    padding: 3.2rem;
    width: 100%;
}

footer {
    text-align: center;
}

main > * {
    margin: 0 auto;
    max-width:102.4rem;
    padding: 3.2rem;
    width: 100%;
}