@import "variables";

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

footer > *,
main section {
    margin: 0 auto;
    max-width:102.4rem;
    padding: 3.2rem;
    width: 100%;
}

footer {
    background-color: $dark-blue;
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    color: #fff;
    padding: 3.2rem;
    text-align: center;

    a {
        color: #fff;

        &:hover,
        &:focus,
        &:focus-visible {
            outline: 2px solid $salmon;
        }
    }
}

header {
    background-image: url(../img/header.jpg);
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    min-height: 55rem;
    position: relative;
}

nav {
    margin: 0 auto;
    max-width:102.4rem;
    padding: 3.2rem;
    width: 100%;
}

.section--gray {
    background-color: $light-gray;
    clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);
    padding: 5rem 0;
}
